@phone: ~"only screen and (max-width:500px)";

.App{
   
    color:pink;
    background-color: blue;
}

form{
   
    padding: auto;
    color:yellow;
}

h2{
    color:orange;
}

label {
    display: flex;
    flex-direction: column;
    text-align: center;
    color:teal;

    @media @phone {
        display: flex;
        flex-direction: column;
        text-align: center;
      
    }
}